$text-color-primary:".color_primary" !default;
$text-color-primary-text:".color_primary-text" !default;
$text-color-primary-light:".color_primary-light" !default;
$text-color-primary-lighter:".color_primary-lighter" !default;
$text-color-primary-dark:".color_primary-dark" !default;
$text-color-primary-darker:".color_primary-darker" !default;
$text-color-primary-darkest:".color_primary-darkest" !default;
$text-color-primary-black:".color_primary-black" !default;
$text-color-secondary:".color_secondary" !default;
$text-color-secondary-text:".color_secondary-text" !default;
$text-color-secondary-light:".color_secondary-light" !default;
$text-color-secondary-lighter:".color_secondary-lighter" !default;
$text-color-secondary-dark:".color_secondary-dark" !default;
$text-color-secondary-darker:".color_secondary-darker" !default;
$text-color-secondary-darkest:".color_secondary-darkest" !default;
$text-color-secondary-black:".color_secondary-black" !default;
$text-color-color3:".color3" !default;
$text-color-color3-text:".color3-text" !default;
$text-color-color3-light:".color3-light" !default;
$text-color-color3-lighter:".color3-lighter" !default;
$text-color-color3-dark:".color3-dark" !default;
$text-color-color3-darker:".color3-darker" !default;
$text-color-color3-darkest:".color3-darkest" !default;
$text-color-color3-black:".color3-black" !default;
$text-color-color4:".color4" !default;
$text-color-color4-text:".color4-text" !default;
$text-color-color4-light:".color4-light" !default;
$text-color-color4-lighter:".color4-lighter" !default;
$text-color-color4-dark:".color4-dark" !default;
$text-color-color4-darker:".color4-darker" !default;
$text-color-color4-darkest:".color4-darkest" !default;
$text-color-color4-black:".color4-black" !default;
$fill-color-primary:".color_primary-fill" !default;
$fill-color-primary-light:".color_primary-light-fill" !default;
$fill-color-primary-lighter:".color_primary-lighter-fill" !default;
$fill-color-primary-dark:".color_primary-dark-fill" !default;
$fill-color-primary-darker:".color_primary-darker-fill" !default;
$fill-color-primary-darkest:".color_primary-darkest-fill" !default;
$fill-color-primary-black:".color_primary-black-fill" !default;
$fill-color-secondary:".color_secondary-fill" !default;
$fill-color-secondary-light:".color_secondary-light-fill" !default;
$fill-color-secondary-lighter:".color_secondary-lighter-fill" !default;
$fill-color-secondary-dark:".color_secondary-dark-fill" !default;
$fill-color-secondary-darker:".color_secondary-darker-fill" !default;
$fill-color-secondary-darkest:".color_secondary-darkest-fill" !default;
$fill-color-secondary-black:".color_secondary-black-fill" !default;
$fill-color-color3:".color3-fill" !default;
$fill-color-color3-light:".color3-light-fill" !default;
$fill-color-color3-lighter:".color3-lighter-fill" !default;
$fill-color-color3-dark:".color3-dark-fill" !default;
$fill-color-color3-darker:".color3-darker-fill" !default;
$fill-color-color3-darkest:".color3-darkest-fill" !default;
$fill-color-color3-black:".color3-black-fill" !default;
$fill-color-color4:".color4-fill" !default;
$fill-color-color4-light:".color4-light-fill" !default;
$fill-color-color4-lighter:".color4-lighter-fill" !default;
$fill-color-color4-dark:".color4-dark-fill" !default;
$fill-color-color4-darker:".color4-darker-fill" !default;
$fill-color-color4-darkest:".color4-darkest-fill" !default;
$fill-color-color4-black:".color4-black-fill" !default;
$bg-primary:".bg_primary" !default;
$bg-primary-light:".bg_primary-light" !default;
$bg-primary-lighter:".bg_primary-lighter" !default;
$bg-primary-dark:".bg_primary-dark" !default;
$bg-primary-darker:".bg_primary-darker" !default;
$bg-primary-darkest:".bg_primary-darkest" !default;
$bg-secondary:".bg_secondary" !default;
$bg-secondary-light:".bg_secondary-light" !default;
$bg-secondary-lighter:".bg_secondary-lighter" !default;
$bg-secondary-dark:".bg_secondary-dark" !default;
$bg-secondary-darker:".bg_secondary-darker" !default;
$bg-secondary-darkest:".bg_secondary-darkest" !default;
$bg-color3:".bg_color3" !default;
$bg-color3-light:".bg_color3-light" !default;
$bg-color3-lighter:".bg_color3-lighter" !default;
$bg-color3-dark:".bg_color3-dark" !default;
$bg-color3-darker:".bg_color3-darker" !default;
$bg-color3-darkest:".bg_color3-darkest" !default;
$bg-color4:".bg_color4" !default;
$bg-color4-light:".bg_color4-light" !default;
$bg-color4-lighter:".bg_color4-lighter" !default;
$bg-color4-dark:".bg_color4-dark" !default;
$bg-color4-darker:".bg_color4-darker" !default;
$bg-color4-darkest:".bg_color4-darkest" !default;
$btn-primary:".btn_primary" !default;
$btn-primary-light:".btn_primary-light" !default;
$btn-primary-lighter:".btn_primary-lighter" !default;
$btn-primary-dark:".btn_primary-dark" !default;
$btn-primary-darker:".btn_primary-darker" !default;
$btn-primary-darkest:".btn_primary-darkest" !default;
$btn-secondary:".btn_secondary" !default;
$btn-secondary-light:".btn_secondary-light" !default;
$btn-secondary-lighter:".btn_secondary-lighter" !default;
$btn-secondary-dark:".btn_secondary-dark" !default;
$btn-secondary-darker:".btn_secondary-darker" !default;
$btn-secondary-darkest:".btn_secondary-darkest" !default;
$btn-color3:".btn_color3" !default;
$btn-color3-light:".btn_color3-light" !default;
$btn-color3-lighter:".btn_color3-lighter" !default;
$btn-color3-dark:".btn_color3-dark" !default;
$btn-color3-darker:".btn_color3-darker" !default;
$btn-color3-darkest:".btn_color3-darkest" !default;
$btn-color4:".btn_color4" !default;
$btn-color4-light:".btn_color4-light" !default;
$btn-color4-lighter:".btn_color4-lighter" !default;
$btn-color4-dark:".btn_color4-dark" !default;
$btn-color4-darker:".btn_color4-darker" !default;
$btn-color4-darkest:".btn_color4-darkest" !default;
$border-primary:".border_primary" !default;
$border-primary-light:".border_primary-light" !default;
$border-primary-lighter:".border_primary-lighter" !default;
$border-primary-dark:".border_primary-dark" !default;
$border-primary-darker:".border_primary-darker" !default;
$border-primary-darkest:".border_primary-darkest" !default;
$border-primary-black:".border_primary-black" !default;
$border-secondary:".border_secondary" !default;
$border-secondary-light:".border_secondary-light" !default;
$border-secondary-lighter:".border_secondary-lighter" !default;
$border-secondary-dark:".border_secondary-dark" !default;
$border-secondary-darker:".border_secondary-darker" !default;
$border-secondary-darkest:".border_secondary-darkest" !default;
$border-secondary-black:".border_secondary-black" !default;
$border-color3:".border_color3" !default;
$border-color3-light:".border_color3-light" !default;
$border-color3-lighter:".border_color3-lighter" !default;
$border-color3-dark:".border_color3-dark" !default;
$border-color3-darker:".border_color3-darker" !default;
$border-color3-darkest:".border_color3-darkest" !default;
$border-color3-black:".border_color3-black" !default;
$border-color4:".border_color4" !default;
$border-color4-light:".border_color4-light" !default;
$border-color4-lighter:".border_color4-lighter" !default;
$border-color4-dark:".border_color4-dark" !default;
$border-color4-darker:".border_color4-darker" !default;
$border-color4-darkest:".border_color4-darkest" !default;
$border-color4-black:".border_color4-black" !default;