@import 'functions', 'base', 'mixin';

@include google-font("Noto+Sans+TC:100,300,400,500,700,900|Noto+Serif+TC|Poppins");

body {
  background-color:$color-body-bg;
  // font-weight:$fontwight;
  * {
    font-family:$font-cht-hei;
    // color:$color-text;
    // line-height:$line-height;
  }
}

a:not([class*=btn]):hover {
	text-decoration: underline;
  // &>* {text-decoration: none;}
}
html.largeFont {font-size: 20px;}
html.smallFont {font-size: 14px;}
html.resetFont {font-size: $font-size-root;}

.bg_primary {

}

/* Portrait */
@media screen and (orientation:portrait) {
}
/* Landscape */
@media screen and (orientation:landscape) {
}

/* ----------- IE10+ ----------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
}