@import '~vuetify/src/styles/styles.sass';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'functions', 'mixin';

@include google-font("Noto+Sans+TC:100,300,400,500,700,900|Noto+Serif+TC|Poppins");

//### Font ###------------------------------------------------//
$font-cht-hei:'Noto Sans TC', sans-serif !default;
$font-cht-ming:'Noto Serif TC', serif !default;
$font-eng:Poppins, sans-serif !default;
$body-font-family: $font-cht-hei;
$fontwight:300 !default;

body {
  background-color:#F7FAFC;
  // font-weight:$fontwight;
  * {
    font-family:$font-cht-hei;
    // color:$color-text;
    // line-height:$line-height;
  }
}

a:not([class*=btn]):hover {
	text-decoration: underline;
  // &>* {text-decoration: none;}
}
[class*="v-tab"]:hover {
	text-decoration: none !important;
}
html.largeFont {font-size: 20px;}
html.smallFont {font-size: 14px;}
html.resetFont {font-size: $font-size-root;}

//Vuetify - needs: @import '~vuetify/src/styles/styles.sass';
.custom-class {
  border-radius: $border-radius-root;
}
@media #{map-get($display-breakpoints, 'md-and-down')}{
  .custom-class {
    display: none
  }
}

/* Portrait */
@media screen and (orientation:portrait) {
}
/* Landscape */
@media screen and (orientation:landscape) {
}
/*---------- Only landscape in mobile ------------------------------*/
@media screen and (orientation:landscape) and (max-device-width: 959px) {
}

/* ----------- IE10+ ----------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
}